<!-- Show everything -->
<mat-card *ngIf="isFirstViolation == true" class="violation-card">
  <mat-card-header>
    <mat-chip [style.background-color]="chipColor">{{
      violation?.type
    }}</mat-chip>
    <div class="data">{{ violation?.data }}</div>
    <div class="time">{{ elapsedTime }}</div>
  </mat-card-header>
  <mat-card-content>
    <div>
      <span class="highlight"><br />Script sample: </span>
      <span class="code-block">{{ violation?.data }}</span>
    </div>
    <span class="highlight">Document URL: </span>{{ violation?.documentUrl
    }}<br />
    <span class="highlight">Stack trace:</span>
    <div class="code-block">
      <span *ngFor="let frame of stackTraceLines">
        {{ frame }}
      </span>
    </div>
  </mat-card-content>
</mat-card>
<!-- Show only header -->
<mat-accordion *ngIf="isFirstViolation == false" class="violation-card">
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-chip [style.background-color]="chipColor">{{
          violation?.type
        }}</mat-chip>
      </mat-panel-title>
      <mat-panel-description>{{ violation?.data }} </mat-panel-description>
      <div class="card-actions-container">{{ elapsedTime }}</div>
    </mat-expansion-panel-header>
    <div>
      <span class="highlight">Script sample:</span>
      <span class="code-block">{{ violation?.data }}</span>
    </div>
    <span class="highlight">Document URL: </span>{{ violation?.documentUrl
    }}<br />
    <span class="highlight">Stack trace:</span>
    <div class="code-block">
      <span *ngFor="let frame of stackTraceLines">
        {{ frame }}
      </span>
    </div>
  </mat-expansion-panel>
</mat-accordion>
